$background-color: #f3f6f9;
$font-family: 'Jost', sans-serif;
$font-size: 14px;
$font-color: #252f4a;

$header-background-color: #3aa99e;
$header-font-color: #fff;
$header-height: 88px;

$workarea-background-color: #ffffff;
$workarea-min-height: calc(100vh - 136px);
